@charset "UTF-8";
/*Box Modeling*/
.header {
  border: solid 2px black;
  width: auto;
  height: auto;
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  /*Gradientes*/
  background: linear-gradient(to right, #FF7878, #F3F0D7);
}

/*Animación*/
.header__logo {
  width: 100px;
  height: 100px;
  grid-column: 1/2;
  animation-name: rotar_logo;
  animation-iteration-count: initial;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-delay: 2s;
}

@keyframes rotar_logo {
  0% {
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.header__menu {
  display: flex;
  justify-content: space-around;
  grid-column: 3/7;
}
.header__menu a {
  color: black;
  cursor: pointer;
}

.header__instagram {
  width: 30px;
  height: 30px;
  grid-column: 8/9;
  transform: translateX(15px);
}

.menu-bar {
  display: none;
}

#encabezado {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 50 px;
  font-weight: 200;
  color: #CEE5D0;
  grid-column: 3/5;
}

.footer {
  border: solid 2px black;
  background-color: #E0C097;
  width: auto;
  height: auto;
  padding-left: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.footer__1 {
  grid-column: 1/3;
}

.footer__texto {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  font-size: 20px;
  color: black;
}

.footer__2 {
  grid-column: 4/6;
}

.footer__contacto {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 20px;
  color: black;
  font-weight: 200;
}

.footer__textcontacto {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 15px;
  color: black;
  font-weight: 100;
}

.footer__3 {
  grid-column: 7/9;
}

.footer__texto2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  font-size: 20px;
  color: black;
}

.footer__logo {
  width: 100px;
  height: 100px;
}

/*Inicio*/
/*Metodologia BEM*/
.fondo {
  background-color: #CEE5D0;
  border: solid 1px #CEE5D0;
}

.carrusel .carousel-item {
  display: flex;
  justify-content: center;
}

.principal {
  margin-left: 5px;
  margin-right: 5px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.principal__titulo {
  grid-column: 1/6;
  grid-row: 1/2;
  display: flex;
  align-items: flex-end;
}

/*Bloque 1*/
.demostracion {
  width: auto;
  grid-column: 1/13;
  grid-row: 2/5;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.demostracion__contencion {
  grid-column: 1/9;
  grid-row: 1/9;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.demostracion__imagen1 {
  width: 33.3%;
  border-radius: 10px;
}

.demostracion__imagen2 {
  width: 33.3%;
  border-radius: 10px;
}

.demostracion__imagen3 {
  width: 33.3%;
  border-radius: 10px;
}

.presentacion {
  margin-top: 30px;
  grid-column: 1/13;
  grid-row: 5/7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.presentacion__titulo {
  font-family: "poppins";
  font-size: 18px;
  margin-bottom: 20px;
  grid-column: 2/6;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.presentacion__enlace {
  color: black;
}
.presentacion__enlace:hover {
  color: gray;
}

.presentacion__parrafo {
  grid-column: 1/7;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
}

/*Bloque 2*/
/*Transition and Transform*/
.boton {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/2;
  grid-row: 3/4;
  padding: 2px 2px;
  background-color: #FF7878;
  border-radius: 20px;
  text-decoration: none;
  transition: all 3s;
}
.boton:hover {
  transform: translate(10px);
  background-color: #F3F0D7;
}

.boton__texto {
  color: black;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}

/*Mixins con Parametros*/
/*Cakes & Pies*/
.fondo-torta {
  background-color: #CEE5D0;
}

.encabezado {
  text-align: center;
  font-size: 40px;
}

/*Mixins con Parametros*/
.Tortas {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: azure;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.torta {
  margin: 20px;
}
.torta img {
  width: 280px;
}

/*Mixins con Parametros*/
.Tartas {
  border: solid 2px black;
  background-color: #FFBCD1;
}

.imagen {
  width: 1000px;
  height: 300px;
}

.Tarta__nombre {
  color: black;
  display: flex;
  justify-content: center;
}

/*Tentaciones*/
.encabezado {
  text-align: center;
  font-size: 40px;
}

/*Mixins con Parametros*/
.fondo-budines {
  background-color: #CEE5D0;
}

.Budines {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: aqua;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.budines {
  margin: 20px;
}
.budines img {
  width: 280px;
}

/*Maps*/
.Alfajor {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #FFBCD1;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.alfajor {
  margin: 20px;
}
.alfajor img {
  width: 280px;
}

/*Desayunos*/
.fondo-desayuno {
  background-color: #CEE5D0;
}

.desayuno-titulo {
  display: flex;
  justify-content: center;
}

/*Maps 2*/
.desayuno {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #E2DEA9;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.desayuno p {
  font-size: 16px;
}
.desayuno img {
  width: 280px;
}

.desayunos-desayuno1, .desayunos-desayuno3, .desayunos-desayuno2 {
  display: flex;
  grid-column: 1/4;
  grid-row: 1/2;
}

.desayunos-desayuno2 {
  grid-row: 2/3;
}

.desayunos-desayuno3 {
  grid-row: 3/4;
}

/*Regla EACH*/
.texto-color-1 {
  color: rgb(210, 56, 17);
}

.texto-color-2 {
  color: rgb(105, 24, 3);
}

.texto-color-3 {
  color: rgb(136, 68, 51);
}

/*Regla Each 2*/
btn--Instagram {
  background-color: #FAF5E4;
}

btn--Facebook {
  background-color: #035397;
}

btn--Email {
  background-color: #FFF56D;
}

@media (max-width: 600px) {
  /*Header*/
  .header__naveagacion {
    position: relative;
  }

  .menu-bar {
    display: block;
    grid-column: 8/9;
    font-size: 30px;
    cursor: pointer;
  }

  .header__menu {
    display: none;
  }

  .header__logo {
    width: 60px;
    height: 60px;
    grid-column: 1/2;
    display: none;
  }

  #encabezado {
    font-size: 25px;
    grid-column: 3/6;
  }

  .header__instagram {
    display: none;
  }

  /*Main-INICIO*/
  .principal__titulo {
    grid-column: 1/9;
    font-size: 15px;
  }

  .presentacion__titulo {
    grid-column: 1/9;
    font-size: 10px;
  }

  .presentacion__parrafo {
    grid-column: 1/9;
    font-size: 12px;
  }

  .boton__texto {
    font-size: 13px;
  }

  /*Main-Cakes & Pies*/
  .encabezado {
    font-size: 20px;
  }

  .torta img {
    width: 180px;
  }

  .tarta img {
    width: 180px;
  }

  /*Main-Tentaciones*/
  .encabezado {
    font-size: 20px;
  }

  .budines img {
    width: 180px;
  }

  .alfajor img {
    width: 180px;
  }

  /*Main-Desayunos*/
  .desayuno p {
    font-size: 10px;
  }

  .desayuno img {
    width: 180px;
  }

  /*Main-Contacto*/
  .solicitud-titulo {
    font-size: 20px;
  }

  .encuadre label {
    font-size: 12px;
  }

  .encuadre h4 {
    font-size: 16px;
  }

  /*Footer*/
  .footer__texto {
    font-size: 15px;
  }

  .footer__contacto {
    font-size: 15px;
  }

  .footer__textcontacto {
    font-size: 10px;
  }

  .footer__texto2 {
    font-size: 15px;
  }

  .footer__logo {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  /*Header*/
  .header__naveagacion {
    position: relative;
  }

  .menu-bar {
    display: block;
    grid-column: 8/9;
    font-size: 30px;
    cursor: pointer;
  }

  .header__menu {
    display: none;
  }

  .header__logo {
    width: 80px;
    height: 80px;
    grid-column: 1/2;
    display: none;
  }

  #encabezado {
    font-size: 35px;
    grid-column: 3/6;
  }

  /*Main-inicio*/
  .principal__titulo {
    grid-column: 1/12;
    font-size: 18px;
  }

  .presentacion__titulo {
    grid-column: 1/9;
    font-size: 15px;
  }

  .presentacion__parrafo {
    grid-column: 1/9;
    font-size: 15px;
  }

  .boton__texto {
    font-size: 18px;
  }

  /*Main-Cakes & Pies*/
  .encabezado {
    font-size: 30px;
  }

  .torta img {
    width: 210px;
  }

  .tarta img {
    width: 210px;
  }

  /*Main-Tentaciones*/
  .encabezado {
    font-size: 30px;
  }

  .budines img {
    width: 210px;
  }

  .alfajor img {
    width: 210px;
  }

  /*Main-Desayunos*/
  .desayuno p {
    font-size: 12px;
  }

  .desayuno img {
    width: 210px;
  }

  /*Main-Contacto*/
  .solicitud-titulo {
    font-size: 22px;
  }

  .encuadre label {
    font-size: 14px;
  }

  .encuadre h4 {
    font-size: 18px;
  }

  /*Footer*/
  .footer__texto {
    font-size: 18px;
  }

  .footer__contacto {
    font-size: 18px;
  }

  .footer__textcontacto {
    font-size: 13px;
  }

  .footer__texto2 {
    font-size: 18px;
  }

  .footer__logo {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  /*Header*/
  .header__naveagacion {
    position: relative;
  }

  .menu-bar {
    display: block;
    grid-column: 8/9;
    font-size: 30px;
    cursor: pointer;
  }

  .header__menu {
    display: none;
  }

  .header__logo {
    width: 90px;
    height: 90px;
    grid-column: 1/2;
    display: none;
  }

  #encabezado {
    font-size: 35px;
    grid-column: 4/7;
  }

  /*Main-inicio*/
  .principal__titulo {
    grid-column: 1/12;
    font-size: 18px;
  }

  .presentacion__titulo {
    grid-column: 1/9;
    font-size: 15px;
  }

  .presentacion__parrafo {
    grid-column: 1/9;
    font-size: 15px;
  }

  .boton__texto {
    font-size: 18px;
  }

  /*Main-Cakes & Pies*/
  .encabezado {
    font-size: 35px;
  }

  .torta img {
    width: 250px;
  }

  .tarta img {
    width: 250px;
  }

  /*Main-Tentaciones*/
  .encabezado {
    font-size: 35px;
  }

  .budines img {
    width: 250px;
  }

  .alfajor img {
    width: 250px;
  }

  /*Main-Desayunos*/
  .desayuno p {
    font-size: 14px;
  }

  .desayuno img {
    width: 250px;
  }

  /*Footer*/
  .footer__texto {
    font-size: 18px;
  }

  .footer__contacto {
    font-size: 18px;
  }

  .footer__textcontacto {
    font-size: 13px;
  }

  .footer__texto2 {
    font-size: 18px;
  }

  .footer__logo {
    width: 80px;
    height: 80px;
  }

  /*Main-Contacto*/
  .solicitud-titulo {
    font-size: 24px;
  }

  .encuadre label {
    font-size: 16px;
  }

  .encuadre h4 {
    font-size: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "poppins";
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  color: #FF7878;
  font-family: "Lato", sans-serif;
}

/*Flexbox*/
/*Contacto*/
.solicitud {
  margin-left: 20px;
}

.solicitud-titulo {
  display: flex;
  justify-content: center;
}

.encuadre {
  margin-left: 0px;
  display: flex;
  justify-content: stretch;
}

.email:invalid {
  background-color: #FFF89A;
}

/*# sourceMappingURL=indexcss.css.map */
