/*Contacto*/
.solicitud{
    background-color: $color-de-fondo;
}
.solicitud-titulo{
    color: $color-encabezado;
    display: flex;
    justify-content: center;
    animation-name: backInRight;
    animation-duration: 2s;
}
.solicitud-subtitulo{
    margin-top: 10px;
    color: $color-encabezado;
}
.email:invalid{
    background-color: #C65D7B;
}