//Declaración de Variables
$encabezado-alineacion: center;
$encabezado-tamaño: 40px;
$borde-cards: solid 2px black;

/*Mixins con Parametros*/
@mixin ubicacion ($display,$justify-content,$flex-wrap) {
    display: $display;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
}

/*Cakes & Pies*/
.fondo-torta{
    background-color: $color-de-fondo;
}


.encabezado{
    text-align:$encabezado-alineacion;
    font-size: $encabezado-tamaño;
    color: $color-encabezado;
}
/*Mixins con Parametros*/
.Tortas{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: azure;
    width: 100%;
    @include ubicacion(flex, flex-start, wrap)
}
.torta{
    margin: 20px;
    img{
        width: 280px;
    }
}
/*Mixins con Parametros*/
.Tartas{
    border: $borde-cards;
    background-color:#FFBCD1;
}
.imagen{
    width: 1000px;
    height: 300px;
}
.Tarta__nombre{
    color: black;
    display: flex;
    justify-content: center;
}

/*Tentaciones*/
.encabezado{
    text-align:$encabezado-alineacion;
    font-size: $encabezado-tamaño;
}
/*Mixins con Parametros*/
.fondo-budines{
background-color: $color-de-fondo;
}

.Budines{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: aqua;
    width: 100%;
    @include ubicacion(flex, flex-start, wrap)
}
.budines{
    margin: 20px;
    img{
        width: 280px;
    }
}
/*Maps*/
$caracterista-Alfajor:(
    'margen arriba': 30px,
    'margen abajo': 20px,
    'color de fondo': #FFBCD1,
);
.Alfajor{
    margin-top: map-get($map: $caracterista-Alfajor, $key: 'margen arriba' );
    margin-bottom: map-get($map: $caracterista-Alfajor, $key: 'margen abajo' );
    background-color: map-get($map: $caracterista-Alfajor , $key: 'color de fondo' );
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.alfajor{
    margin: 20px;
    img{
        width: 280px;
    }
}

/*Desayunos*/
.fondo-desayuno{
    background-color:$color-de-fondo;
}
/*Maps 2*/
$estilo-desayuno: (
    'margen arriba': 20px,
    'margen abajo': 0px,
    'color de fondo': $color-de-fondo,
);

.desayuno{
    margin-top: map-get($map: $estilo-desayuno, $key: 'margen arriba' );
    margin-bottom: map-get($map: $estilo-desayuno, $key: 'margen abajo' );
    background-color: map-get($map: $estilo-desayuno, $key: 'color de fondo' );
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    p{
        font-size: 20px;
        color: black;
    }
    img{
        width: 50%;
    }
}
.desayunos-desayuno1{
    display: flex;
    justify-content:flex-start;
    flex-wrap: nowrap;
    grid-column: 1/13;
    grid-row: 1/5;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: $color-fondo-tarjeta;
}
.desayunos-desayuno2{
    @extend .desayunos-desayuno1;
    grid-row: 5/9;
}
.desayunos-desayuno3{
    @extend .desayunos-desayuno1;
    grid-row: 9/13;
}
.desayuno-texto{
    margin-left: 10px;
}
