//Variables Generales
$ancho-tarjeta: 350px;
$alto-tarjeta: 350px;
$borderadio-tarjeta: 10px;

/*Inicio*/
/*Metodologia BEM*/
.fondo{
    background-color: $color-de-fondo;
    border: solid 1px $color-de-fondo;
}
.titulo{
    color: $color-encabezado;
    display: flex;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 10px;
}
.titulo-animado{
    animation-name:lightSpeedInLeft;
    animation-duration: 3s;
}
.carrusel .carousel-item{
    display: flex;
    justify-content: center;
}
.parrafo1{
    color: $color-parrafo;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 5px;
    animation-name:fadeInUp;
    animation-duration: 3s;
}
.carrusel .carousel-item{
    display: flex;
    justify-content: center;
}
.parrafo2{
    @extend .parrafo1;
    animation-duration: 5s;
}
.parrafo3{
    @extend .parrafo2;
    animation-duration: 8s;
    margin-top: 30px;
}
.principal{
    margin-left: 5px;
    margin-right: 5px;
}

/*Bloque 1*/
.demostracion__contencion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.demostracion__imagen1{
    width: $ancho-tarjeta;
    border-radius: $borderadio-tarjeta;
    height: $alto-tarjeta;
    transition: 0.5s;
    &:hover{
        transform: scale(1.3,1.3)
    }
}
.demostracion__imagen2{
    @extend .demostracion__imagen1;
}
.demostracion__imagen3{
    @extend .demostracion__imagen1;
}
.demostracion__imagen4{
    @extend .demostracion__imagen1;
}
.demostracion__imagen4{
    @extend .demostracion__imagen1;
}
.demostracion__imagen5{
    @extend .demostracion__imagen1;
}
.demostracion__imagen6{
    @extend .demostracion__imagen1;
}
.demostracion__imagen7{
    @extend .demostracion__imagen1;
}
.demostracion__imagen8{
    @extend .demostracion__imagen1;
}
.botones{
    display: flex;
    justify-content:space-around;
}
.boton1{
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 10px 20px;
    color: black;
    font-family:$font-family;
    font-size: 16px;
    background-color:$color-boton;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    &:hover{
        background-color: #F3F0D7;
    }
}
/*Bloque 2*/
/*Transition and Transform*/
.boton{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding: 2px 2px;
}
.boton2{
    color: black;
    font-size: 16px;
    font-family:$font-family;
    padding: 10px 20px;
    background-color: $color-boton;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 9px #999;
    cursor: pointer;
    &:hover{
        background-color: #F3F0D7;
    }
    &:active{
        background-color: #F3F0D7;
        box-shadow: 0 5px #666;
        transform: translateY(10px);
    }
}