@media (max-width: 600px) {
    //////////*Header-<600px*//////////////////////
    /*Header-<600px*/
    .header__naveagacion{
        position: relative;
    }
    .menu-bar{
        display: block;
        grid-column: 8/9;
        font-size: 30px;
        cursor: pointer;
    }
    .header__menu{
        display: none;
    }
    .header__logo{
        width: 60px;
        height: 60px;
        grid-column: 1/2;
        display: none;
    }
    #encabezado{
        font-size: 28px;
        grid-column: 3/6;
    }
    .header__instagram{
        width: 20px;
        height: 20px;
        transform: translateX(0px);
    }
    /////////*Main-INICIO-<600px**/////////////////
    /*Main-INICIO-<600px**/
    .titulo-animado{
        font-size: 18px;
    }
    .parrafo1{
        font-size: 12px;
    }
    .parrafo2{
        font-size: 12px;
    }
    .parrafo3{
        font-size: 12px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .demostracion__imagen1{
        width: 200px;
        height: 200px;
    }
    .demostracion__imagen2{
        width: 200px;
        height: 200px;
    }
    .demostracion__imagen3{
        width: 200px;
        height: 200px;
    }
    .demostracion__imagen4{
        width: 200px;
        height: 200px;
    }
    .demostracion__imagen5{
        width: 200px;
        height: 200px;
    }
    .demostracion__imagen6{
        width: 200px;
        height: 200px;
    }
    .demostracion__imagen7{
        width: 200px;
        height: 200px;
    }
    .demostracion__imagen8{
        width: 200px;
        height: 200px;
    }
    .boton1{
        font-size: 11px;
        padding: 5px 10px;
    }
    .boton2{
        font-size: 11px;
        padding: 5px 10px;
    }
    .boton{
        margin-top: 0px;
    }
    ////////////////*Main-Cakes & Pies-<600px**/////////////
    /*Main-Cakes & Pies-<600px**/
    .encabezado{
        font-size: 25px;
    }
    .torta {
        img{
            width: 250px;
            height: 250px;
        }
        p{
            font-size: 15px;
        }
    }
    .tarta {
        img{
            width: 250px;
            height: 250px;
        }
        p{
            font-size: 15px;
        }
    }
    /////////////*Main-Tentaciones-<600px*////////////////
    /*Main-Tentaciones-<600px*/
    .budines {
        img{
            width: 250px;
            height: 250px;
        }
        p{
            font-size: 15px;
        }
    }
    .alfajor {
        img{
            width: 250px;
            height: 250px;
        }
        p{
            font-size: 15px;
        }
    }
    //////////*Main-Desayunos-<600px*//////////////////
    /*Main-Desayunos-<600px*/
    .desayuno {
        p{font-size: 8px;
        }
        img{width: 250px;
            height: 200px;
        }
    }
    .desayuno-texto{
        h4{font-size: 15px;}
    }

    ///////////*Main-Contacto-<600px*/////////////////
    /*Main-Contacto-<600px*/
    .solicitud-titulo{
        font-size: 18px;
    }
    .solicitud-subtitulo{
        font-size: 15px;
    }
    .encuadre{
        label{font-size: 12px;}
        input{font-size: 12px;}
        option{font-size: 12px;}
    }
    ////////////*Footer-<600px*/////////////////////////
    /*Footer-<600px*/
    .footer__1{
        margin-left: 0px;
    }
    .footer__texto{
        font-size: 8px;
    }
    .footer__contacto{
        font-size: 8px;
    }
    .footer__textcontacto{
        font-size: 7px;
    }
    .footer__texto2{
        font-size: 8px;
    }
    .footer__logo{
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .footer__instagram{
        width: 15px;
        height: 15px;
    }
}
@media (min-width: 601px) and (max-width:900px){

    ///////////////*Header-600px-900px*////////////////
    /*Header-600px-900px*/
    .header__naveagacion{
        position: relative;
    }
    .menu-bar{
        display: block;
        grid-column: 8/9;
        font-size: 30px;
        cursor: pointer;
    }
    .header__menu{
        display: none;
    }
    .header__logo{
        width: 80px;
        height: 80px;
        grid-column: 1/2;
        display: none;
    }
    #encabezado{
        font-size: 35px;
        grid-column: 3/6;
    }
    //////////////*Main-INICIO-600px-900px*////////////
    /*Main-INICIO-600px-900px*/
    .titulo-animado{
        font-size: 22px;
    }
    .parrafo1{
        font-size: 14px;
    }
    .parrafo2{
        font-size: 14px;
    }
    .parrafo3{
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .demostracion__imagen1{
        width: 280px;
        height: 280px;
    }
    .demostracion__imagen2{
        width: 280px;
        height: 280px;
    }
    .demostracion__imagen3{
        width: 280px;
        height: 280px;
    }
    .demostracion__imagen4{
        width: 280px;
        height: 280px;
    }
    .demostracion__imagen5{
        width: 280px;
        height: 280px;
    }
    .demostracion__imagen6{
        width: 280px;
        height: 280px;
    }
    .demostracion__imagen7{
        width: 280px;
        height: 280px;
    }
    .demostracion__imagen8{
        width: 280px;
        height: 280px;
    }
    .boton1{
        font-size: 13px;
        padding: 7px 12px;
    }
    .boton2{
        font-size: 13px;
        padding: 7px 12px;
    }
    .boton{
        margin-top: 5px;
    }
    //////////*Main-Cakes & Pies-600px-900px*////////////////
    /*Main-Cakes & Pies-600px-900px*/
    .encabezado{
        font-size: 30px;
    }
    .torta {
        img{
            width: 280px;
            height: 280px;
        }
        p{
            font-size: 17px;
        }
    }
    .tarta {
        img{
            width: 280px;
            height: 280px;
        }
        p{
            font-size: 17px;
        }
    }
    /////////////*Main-Tentaciones-600px-900px*////////////////
    /*Main-Tentaciones-600px-900px*/
    .budines {
        img{
            width: 280px;
            height: 280px;
        }
        p{
            font-size: 17px;
        }
    }
    .alfajor {
        img{
            width: 280px;
            height: 280px;
        }
        p{
            font-size: 17px;
        }
    }
    ///////////////*Main-Desayunos-600px-900px*////////////////
    /*Main-Desayunos-600px-900px*/
    .desayuno {
        p{font-size: 15px;
        }
        img{width: 400px;
            height: 300px;
        }
    }
    .desayuno-texto{
        h4{font-size: 20px;}
    }

    ///////////*Main-Contacto-600px-900px*/////////////////
    /*Main-Contacto-600px-900px*/
    .solicitud-titulo{
        font-size: 20px;
    }
    .solicitud-subtitulo{
        font-size: 17px;
    }
    .encuadre{
        label{font-size: 15px;}
        input{font-size: 15px;}
        option{font-size: 15px;}
    }

    ///////////////*Footer-600px-900px*/////////////////////
    /*Footer-600px-900px*/
    .footer__texto{
        font-size: 18px;
    }
    .footer__contacto{
        font-size: 18px;
    }
    .footer__textcontacto{
        font-size: 13px;
    }
    .footer__texto2{
        font-size: 18px;
    }
    .footer__logo{
        width: 80px;
        height: 80px;
    }
}
@media (min-width: 901px) and (max-width:1024px){

    ////////////*Header-900px-1024px*/////////////////
    /*Header-900px-1024px*/
    .header__naveagacion{
        position: relative;
    }
    .menu-bar{
        display: block;
        grid-column: 8/9;
        font-size: 30px;
        cursor: pointer;
    }
    .header__menu{
        display: none;
    }
    .header__logo{
        width: 90px;
        height: 90px;
        grid-column: 1/2;
        display: none;
    }
    #encabezado{
        font-size: 35px;
        grid-column: 4/7;
    }
    ///////////*Main-INICIO-900px-1024px*////////////////
    /*Main-INICIO-900px-1024px*/
    .titulo-animado{
    font-size: 25px;
    }
    .parrafo1{
        font-size: 18px;
    }
    .parrafo2{
        @extend .parrafo1;
    }
    .parrafo3{
        @extend .parrafo1;
    }
    .demostracion__imagen1{
        width: 310px;
        height: 310px;
    }
    .demostracion__imagen2{
        @extend .demostracion__imagen1;
    }
    .demostracion__imagen3{
        @extend .demostracion__imagen1;
    }
    .demostracion__imagen4{
        @extend .demostracion__imagen1;
    }
    .demostracion__imagen5{
        @extend .demostracion__imagen1;
    }
    .demostracion__imagen6{
        @extend .demostracion__imagen1;
    }
    .demostracion__imagen7{
        @extend .demostracion__imagen1;
    }
    .demostracion__imagen8{
        @extend .demostracion__imagen1;
    }
    .boton1{
        font-size: 18px;
    }
    .boton2{
        font-size: 18px;
    }
    .boton{
        margin-top: 10px;
    }
    ///////////////*Main-Cakes & Pies-900px-1024px*////////////////
    /*Main-Cakes & Pies-900px-1024px*/
    .encabezado{
    font-size: 35px;
    }
    .torta {
        img{
            width: 310px;
            height: 310px;
        }
        p{
            font-size: 20px;
        }
    }
    .tarta {
        img{
            width: 310px;
            height: 310px;
        }
        p{
            font-size: 20px;
        }
    }
    //////////////*Main-Tentaciones-900px-1024px*/////////////////
    /*Main-Tentaciones-900px-1024px*/
    .budines {
        img{
            width: 310px;
            height: 310px;
        }
        p{
            font-size: 20px;
        }
    }
    .alfajor {
        img{
            width: 310px;
            height: 310px;
        }
        p{
            font-size: 20px;
        }
    }
    ////////////////*Main-Desayunos-900px-1024px*///////////////
    /*Main-Desayunos-900px-1024px*/
    .desayuno {
        p{font-size: 15px;
        }
        img{width: 450px;
            height: 350px;
        }
    }
    .desayuno-texto{
        h4{font-size: 20px;}
    }
    ///////////*Main-Contacto-900px-1024px*/////////////////
    /*Main-Contacto-900px-1024px*/
    .solicitud-titulo{
        font-size: 30px;
    }
    .solicitud-subtitulo{
        font-size: 25px;
    }
    .encuadre{
        label{font-size: 18px;}
        input{font-size: 18px;}
        option{font-size: 18px;}
    }

    ////////////////*Footer-900px-1024px*//////////////////
    /*Footer-900px-1024px*/
    .footer__texto{
        font-size: 18px;
    }
    .footer__contacto{
        font-size: 18px;
    }
    .footer__textcontacto{
        font-size: 13px;
    }
    .footer__texto2{
        font-size: 18px;
    }
    .footer__logo{
        width: 80px;
        height: 80px;
    }
}