//Import
@import "headerfooter";
@import "colores";
@import "Inicio";
@import "framework";
@import "contenidos";

//Declaración de Varables Globales



//Anidacion o nesting
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'poppins';
    src: url(../assets/fonts/Poppins-Medium.ttf);
}
ul{
    list-style-type:none;
}

a{
    text-decoration: none;
}
p{
    color:$color-parrafo;
    font-family: 'Lato', sans-serif;
}



/*Flexbox*/



/*Contacto*/
.solicitud{
    margin-left: 20px;
}
.solicitud-titulo{
    display: flex;
    justify-content: center;
}
.encuadre{
    margin-left: 0px;
    display: flex;
    justify-content: stretch;
}
.email:invalid{
    background-color: #FFF89A;
}