//Declaración de Varables Globales
$font-family:'poppins',Georgia, 'Times New Roman', Times, serif;

//Import
@import "colores";
@import "headerfooter";
@import "Inicio";
@import "contenidos";
@import "contacto";
@import "mediaqueries";


//Anidacion o nesting
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'poppins';
    src: url(../assets/fonts/Poppins-Medium.ttf);
}
ul{
    list-style-type:none;
}

a{
    text-decoration: none;
}
p{
    color:$color-parrafo;
    font-family:$font-family
}
